<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Age</th>
      <th>Job</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" (click)="navigateToUser(user.id)">
      <td>{{user.id}}</td>
      <td>{{user.name}}</td>
      <td>{{user.age}}</td>
      <td>{{user.job.title}}</td>
      <td>{{user.job.language}}</td>
    </tr>
  </tbody>
</table>
<button (click)="navigateToCreate()" type="button">Create User</button>

<button (click)="forChild()" type="button">X</button>
<app-testing>
  <ng-template #temp2 let-data="data">
    <p>
      Accessing template containing data in <b>bold</b> using ngTemplateOutlet.
      <b>{{ data }}</b>
    </p>
  </ng-template>
</app-testing>
